<h1><%= @user.name %></h1>

<p><strong>Email:</strong> <%= @user.email %></p>

<p><strong>Hosted Events:</strong></p>

<% if @user.hosted_events.any? %>
  <ul>
    <% @user.hosted_events.each do |event| %>
      <li>
        <%= link_to(event.name, event_path(event)) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>User is not hosting any events.</p>
<% end %>


<p><strong>Attended Events:</strong></p>

<% if @user.attended_events.any? %>
  <ul>
    <% @user.attended_events.each do |event| %>
      <li>
        <%= link_to(event.name, event_path(event)) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>User is not attending any events.</p>
<% end %>
