<h1>Upcoming Events</h1>

<% if @events.any? %>
  <ul>
    <% @events.each do |event| %>
      <li>
        <strong><%= link_to(event.name, event_path(event)) %></strong><br>
        Hosted by: <%= link_to(event.host.name, user_path(event.host)) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No events found.</p>
<% end %>

<p>
  <%= link_to "Create New Event", new_event_path, class: "btn" %>
</p>
